*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #EBECF0;
}

:root{
    --index:calc(1vw + 1vh);
}

.login-box{
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #2c1616;
}

.login-box h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #2c1616;
}

.img1{
    background-image: url('static/images/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.login-box form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-box{
    position: relative;
    margin: 15px 0;
}

.user-box input{
    width: 350px;
    padding: 10px 0;
    font-size: 16px;
    color: #2c1616;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #2c1616;
    outline: none;
    background: transparent;
}

.user-box label{
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: #2c1616;
    transition: .5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label{
    top: -26px;
    left: 0;
    color: rgba(44, 22, 22, 0.37);
    font-size: 12px;
}

.login-btn {
    border: none;
    background-color: #2c1616;
    color: #EBECF0;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: rgba(235, 236, 240, 0);
    color: #2c1616;
}

.login-btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #2c1616;
}

a.send-btn {
    margin-top: 40px;
    float: right;
    color: #2c1616;
    transition: 0.2s ease;
}

a.send-btn:hover {
    color: #4B5563;
    cursor: pointer;
}

.tooltip {
    border-bottom: 1px dotted #0077AA;
    cursor: help;
}

.tooltip::after {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px 8px 8px 0px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: #FFF;
    content: attr(data-tooltip); /* Главная часть кода, определяющая содержимое всплывающей подсказки */
    margin-top: -24px;
    opacity: 0; /* Наш элемент прозрачен... */
    padding: 3px 7px;
    position: absolute;
    visibility: hidden; /* ...и скрыт. */
    width: 600px;
    transition: all 0.4s ease-in-out; /* Добавить плавности по вкусу */
}

.tooltip:hover::after {
    opacity: 1; /* Показываем его */
    visibility: visible;
}

.card {
    backdrop-filter: blur(2px) saturate(180%);
    -webkit-backdrop-filter: blur(2px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px -10px 40px #1B1B1B;
}

[data-tooltip] {
    position: relative; /* Относительное позиционирование */
    z-index: 2;
    cursor: help;
}
[data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    width: 700px; /* Ширина подсказки */
    left: 0; top: 0; /* Положение подсказки */
    background: rgba(84, 0, 0, 0.02); /* Синий цвет фона */
    color: #ff0000; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
    backdrop-filter: blur(10px);
}
[data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: 2em; /* Положение подсказки */
}