<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title >SoftLineEC - Восстановление доступа</title>
  <link rel="shortcut icon" href="/images/slLogo.svg">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link th:href="@{/css/loginreg.css}" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://unpkg.com/imask"></script>
  <script src="js/main.js"></script>
</head>
<header>
  <nav class="card" style="position: fixed; top: 0; width: 100%; z-index: 499; height: 50px">
    <link th:href="@{/images/SoftLineLogo.png}" rel="import"/>
    <div style="align-items: center">
      <a href="/main">
        <img th:src="@{/images/SoftLineLogo.png}" height="25" width="100" alt="Logo" style="margin-top: 12px; margin-left: 95px"/>
      </a>
      <div class="flex items-center md:order-2">
      </div>
    </div>
  </nav>
</header>
<body>
<img th:src="@{/images/Background.png}" class="img1" alt="Logo"/>
<div class="login-box">
  <h2>Восстановление доступа</h2>
  <div style="text-align: center" class="accessRecovery">
    <div class="user-box" id="Email">
      <input style="outline: none" type="text" id="emailField" name="username" required="">
      <label>Email</label>
    </div>
    <div id="PhoneNumber">
      <p style="text-align: start; margin-bottom: 10px" id="userEmail"></p>
      <p style="text-align: start; margin-bottom: 30px">Введите номер телефона, привязанный к вашей учетной записи</p>
      <div class="user-box" style="margin-bottom: 5px;">
        <input type="text" name="PhoneNumber" id="PhoneNumberField" class="txt PhoneNumber" value="+7" style="outline: none" required>
        <label>Телефон</label>
      </div>
      <p style="text-align: start; margin-bottom: 30px">После нажатия кнопки "Отправить письмо" на указанную вами почту будет направлен код подтверждения</p>
      <button id="send-message-button" type="text" class="login-btn">Отправить письмо</button>
    </div>
    <div id="ConfirmationCode" style="display: none">
      <p style="text-align: start; margin-bottom: 30px">Введите код подтверждения, отправленный на вашу почту. </br> Если пароль так и не появился, то проверьте папку "Спам" или повторите попытку позже.</p>
      <div class="user-box" style="margin-bottom: 5px;">
        <input type="text" name="ConfirmationCodeField" id="ConfirmationCodeField" class="txt ConfirmationCode" style="outline: none" required>
        <label>Код подтверждения</label>
      </div>
      <button id="confirmation-message-button" type="text" class="login-btn">Продолжить</button>
    </div>
    <div id="NewPassword" style="display: none">
      <p style="text-align: start; margin-bottom: 20px">Введите новый пароль</p>
      <p style="margin-bottom: 30px;text-decoration: underline dashed red; color: red; display: none" id="passwordError" data-tooltip="Длина пароля должна быть не менее 8 символов и не более 20 символов
Пароль должен содержать как минимум одну строчную букву (a-z)
Пароль должен содержать как минимум одну заглавную букву (A-Z)
Пароль должен содержать как минимум одну цифру (0-9)
Пароль должен содержать как минимум один специальный символ (!@#$%^&*)">
        Неверный пароль</p>
      <div class="user-box" style="margin-bottom: 5px;">
        <input type="text" name="Password" id="Password" class="txt Password" style="outline: none" required>
        <label>Новый пароль</label>
      </div>
      <button id="password-send-button" type="text" class="login-btn">Сохранить</button>
    </div>
    <button id="next-button" type="text" class="login-btn">Далее</button>
  </div>
</div>
<script>
  const inputs = document.querySelectorAll(".user-box input");
  const NextButton = document.getElementById("next-button");
  const PhoneNumberField = document.getElementById("PhoneNumber");
  const ConfirmationCode = document.getElementById("ConfirmationCode");
  const NewPassword = document.getElementById("NewPassword");
  const EmailBox = document.getElementById('Email');
  const EmailField = document.querySelector('#emailField');
  const UserEmail = document.querySelector('#userEmail');
  const ConfirmationCodeField = document.querySelector('#ConfirmationCodeField');
  const NewPasswordField = document.querySelector('#Password');

  document.addEventListener('DOMContentLoaded', () => {
    const inputElement = document.querySelector('.PhoneNumber')
    const inputElement2 = document.querySelector('.ConfirmationCode')
    const maskOptions = {
      mask: '+{7}(000)000-00-00'
    }
    IMask(inputElement, maskOptions)
    const maskOptions2 = {
      mask: '000 000'
    }
    IMask(inputElement2, maskOptions2)
    PhoneNumberField.style.display = "none";
  });

  $('#next-button').click(function() {
    $.ajax({
      url: '/user-data-recovery',
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify(EmailField.value),
      success: function (data, status, xhr) {
        if (data=="Пользователь есть"){
          const userEmailValue = EmailField.value;
          UserEmail.textContent = userEmailValue;
          EmailBox.style.display = "none";
          NextButton.style.display = "none";
          PhoneNumberField.style.display = "block";
        }
        if (data=="Пользователя нет"){
          alert("Пользователь не найден");
        }
      },
      error: function (xhr, status, error) {
        console.error(xhr.status, error);
        alert("Ошибка: " + error);
      }
    });
  });

  $('#send-message-button').click(function() {
    var username = [];
    username.push(EmailField.value);
    var phone = [];
    phone.push(document.querySelector('#PhoneNumberField').value);
    var data = {
      username: username,
      phone: phone
    };
    $.ajax({
      url: '/user-data-recovery-code-send',
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify(data),
      success: function (data, status, xhr) {
        if (data=="Пароль отправлен"){
          PhoneNumberField.style.display = "none";
          ConfirmationCode.style.display = "block";
        };
        if (data=="Неверный номер телефона"){
          alert(data);
        };
      },
      error: function (xhr, status, error) {
        console.error(xhr.status, error);
        alert("Ошибка: " + error);
      }
    });
  });

  $('#confirmation-message-button').click(function() {
    $.ajax({
      url: '/user-data-confirmation-message',
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify(ConfirmationCodeField.value),
      success: function (data, status, xhr) {
        if (data=="Верный код подтверждения"){
          ConfirmationCode.style.display = "none";
          NewPassword.style.display = "block";
        };
        if (data=="Неверный код подтверждения"){
          alert(data);
        };
      },
      error: function (xhr, status, error) {
        console.error(xhr.status, error);
        alert("Ошибка: " + error);
      }
    });
  });

  $('#password-send-button').click(function() {
    const PASSWORD_REGEX = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,20}$/;
    if (!PASSWORD_REGEX.test(NewPasswordField.value)) {
      const element3 = document.getElementById("passwordError");
      element3.style.display = "block";
    }else {
      $.ajax({
        url: '/user-data-password-send',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(NewPasswordField.value),
        success: function (data, status, xhr) {
          if (data == "Пароль изменен успешно") {
            alert(data);
            window.location.href = "/login";
          }
          ;
          if (data == "Пароль не изменен") {
            alert("Ошибка");
          }
          ;
        },
        error: function (xhr, status, error) {
          console.error(xhr.status, error);
          alert("Ошибка: " + error);
        }
      });
    }
  });

  function addClass(){
    let parent = this.parentNode.parentNode;
    parent.classList.add("focus");
  }

  function removeClass(){
    let parent = this.parentNode.parentNode;
    if(this.value == ""){
      parent.classList.remove("focus");
    }
  }

  inputs.forEach(input => {
    input.addEventListener("focus", addClass);
    input.addEventListener("blur", removeClass);
  });
</script>
</body>
</html>
