<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>SoftLineEC - учет вариантов ответа</title>
  <link th:href="@{/css/main.css}" rel="stylesheet" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<div th:insert="blocks/header.html"/>
<body>
<form th:action="${'/AnswerOptionsAdd'}" th:object="${AnswerOptions}" method="post" class="center">
  <span class="centerin">
    <div class="boxes">
      <h1 class="title">Добавление вариантов ответа</h1>
    </div>
    <div class="group" >
      <input type="text" name="content" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Содержание</label>
    </div>
      <div class="group" >
      <input type="checkbox" name="valid">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Валидность</label>
    </div>
    <div class="group">
      <select  name="nameOfQuestion" required>
        <div th:each="element : ${nameOfQuestion}">
          <option th:text="${element.getNameOfQuestion()}"></option>
        </div>
      </select>
    </div>
    <form th:action="${'/AnswerOptionsAdd'}">
      <button type="submit" class="custom-btn btn-16">Добавить вариант ответа</button>
    </form>
  </span>
</form>
</body>
</html>