<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title >SoftLineEC - учет вариантов ответа</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body class="body">
<div th:insert="blocks/header.html"/>
<form th:action="${'/AnswerOptions'}" class="center">

    <div class="boxes">
      <div border="0">
        <h1 class="title">Вариант ответа</h1>
        <a href="/AnswerOptionsAdd" class="custom-btn btn-16">Добавить вариант ответа</a>
      </div>
    </div>
    <table>
      <thead>
      <tr>
        <th>Содержание</th>
        <th>Валидность</th>
        <th>Вопрос</th>
        <th style="width: 20px"></th>
        <th style="width: 20px"></th>
      </tr>
      </thead>
      <tbody>
      <form th:action="${'/AnswerOptions'}">
        <tr th:each="el : ${AnswerOptions}">
          <td><h3 th:text="${el.getContent()}"></h3></td>
          <td><h3 th:text="${el.isValid()}"></h3></td>
          <td>
            <from th:each="addr : ${el.getQuestionID()}">
              <a th:text="${addr.getNameOfQuestion()}"></a>
            </from>
          </td>
          <td><a th:href="'/AnswerOptions/' + ${el.idAnswerOptions} + '/edit'">↵</a></td>
          <td><a th:href="'/AnswerOptions/' + ${el.idAnswerOptions} + '/remove'">⌫</a></td>
        </tr>
      </form>
      </tbody>
    </table>

</form>
</body>
</html>