<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title >SoftLineEC - учет блоков</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body class="body">
<div th:insert="blocks/header.html"/>
<form th:action="${'/Block'}" class="center">

    <div class="boxes">
      <div border="0">
        <h1 class="title">Блок</h1>
        <a href="/BlockAdd" class="custom-btn btn-16">Добавить блок</a>
      </div>
    </div>
    <table>
      <thead>
      <tr>
        <th>Название блока</th>
        <th>Описание</th>
        <th>Продолжительность</th>
        <th>Курс</th>
        <th style="width: 20px"></th>
        <th style="width: 20px"></th>
      </tr>
      </thead>
      <tbody>
      <form th:action="${'/Block'}">
        <tr th:each="el : ${Block}">
          <td><h3 th:text="${el.getNameOfBlock()}"></h3></td>
          <td><h3 th:text="${el.getDescription()}"></h3></td>
          <td><h3 th:text="${el.getDuration()}"></h3></td>
          <td>
            <from th:each="addr : ${el.getCourseID()}">
              <a th:text="${addr.getNameOfCourse()}"></a>
            </from>
          </td>
          <td><a th:href="'/Block/' + ${el.idBlock} + '/edit'">↵</a></td>
          <td><a th:href="'/Block/' + ${el.idBlock} + '/remove'">⌫</a></td>
        </tr>
      </form>
      </tbody>
    </table>

</form>
</body>
</html>