<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" style="background-color: #FFFFFF">
<head>
    <title>SoftLineEC - изменение деталей курса</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="shortcut icon" href="/images/slLogo.svg">
</head>
<body style="background-color: #FFFFFF">
    <div th:insert="blocks/header.html"/>
    <div th:insert="blocks/nav.html"/>
    <div class="divcousre">
        <div class="row">
            <div class="col">
                <button type="submit" class="btn" id="load-block">Добавить блок</button>
            </div>
            <div style="display: flex; align-items: end; justify-content: end;" class="col">
                <p class="blockView">Блоков: 0</p>
            </div>
        </div>
        <div id="container"/>
    </div>
    <button type="submit" class="btn" id="save-block" style="display: none">Сохранить</button>
<script type="text/javascript" th:src="@{/js/textAreaResize.js}" src="/js/textAreaResize.js"></script>
<script src="https://unpkg.com/imask" type="text/javascript"></script> <!-- Подключаем плагин через CDN -->
<script type="text/javascript" th:src="@{/js/jquery.maskedinput.js}" src="/js/jquery.maskedinput.js"></script>
<script>
    var blockNum = 0;
    var lectureNum = 0;
    containerLecture = document.getElementById('containerLecture');

    document.getElementById("load-block").addEventListener("click", function () {
        $.get("/blockAddSample", {num: blockNum}, function (data) {
            if (blockNum < 15) {
                const newBlock = $("#container").append(data);
                $(".block").each(function (index) {
                    const inputElement = document.querySelectorAll('.number')[index];
                    const maskOptions = {
                        mask: '000'
                    }
                    IMask(inputElement, maskOptions);
                    $(this).find(".block-num").text(index + 1);
                    $(this).attr("data-block-num", index + 1);
                    $(this).attr('id', `block-${index + 1}`);
                    var col = index + 1;
                    $(".col").each(function () {
                        $(this).find(".blockView").text("Блоков: " + col);
                        blockNum = col;
                    });
                });
            } else {
                alert("Достигнуто максимальное количество блоков");
            }
        });
        document.getElementById("save-block").style.display = "block";
    });
    $("#container").on("click", ".delete-block", function () {
        if (blockNum > 1) {
            $(this).closest(".block").remove();
            $(".block").each(function (index) {
                $(this).find(".block-num").text(index + 1);
                $(this).attr("data-block-num", index + 1);
                $(this).attr('id', `block-${index + 1}`);
                var col = index + 1;
                $(".col").each(function () {
                    $(this).find(".blockView").text("Блоков: " + col);
                    blockNum = col;
                });
            });
        } else {
        }
    });
    $("#container").on("click", ".add-lecture", function handleClick(event) {
        const blockId = $(event.target).closest('[id^="block-"]').attr('id');
        console.log("#" + blockId + " .lecture");
        var nameOfLecture = "";
        $("#" + blockId + ' .no-gutters').each(function () {
            nameOfLecture = $(this).find('input').val();
            $(this).find('input').val("");
        });
        var repeat = 0;
        console.log(nameOfLecture);
        if (nameOfLecture !== "") {
            $("#" + blockId + " .lecture").each(function (index2) {
                var nameOfLectur = $(this).find(".nameOfLectur").text();
                console.log(nameOfLectur);
                if (nameOfLectur == nameOfLecture) {
                    repeat++;
                }
            });
            console.log(repeat);
            if (repeat == 0) {
                var indexMax = 0;
                $.get("/lectureAddSample", {num: lectureNum, nameOfLectur: nameOfLecture}, function (data) {
                    console.log(nameOfLecture);
                    const Block = $('#container').find('#' + blockId);
                    console.log(Block);
                    if (indexMax < 5) {
                        $(".block").each(function (index) {
                            if (blockId == `block-${index + 1}`) {
                                Block.append(data);
                                indexMax++;
                                lectureNum++;
                                $(this).find(".block-num").text(index + 1);
                                $("#" + blockId + " .lecture").each(function (index2) {
                                    $(this).find(".lecture-num").text(index2 + 1);
                                });
                            }
                        });
                    } else {
                        alert("Достигнуто максимальное количество лекций на 1 блок");
                    }
                });
            } else {
                alert("Введите уникальное значение");
            }
        } else {
            alert("Введите наименование лекции");
        }
    });

    $("#container").on("click", ".delete-lecture", function handleClick(event) {
        const blockId = $(event.target).closest('[id^="block-"]').attr('id');
        console.log(lectureNum);
        if (lectureNum >= 1) {
            $(this).closest(".lecture").remove();
            lectureNum--;
            $(".block").each(function (index) {
                if (blockId == `block-${index + 1}`) {
                    $(this).find(".block-num").text(index + 1);
                    $("#" + blockId + " .lecture").each(function (index2) {
                        $(this).find(".lecture-num").text(index2 + 1);
                    });
                }
            });
        } else {
        }
    });

    document.getElementById("save-block").addEventListener("click", function () {
        var nameOfBlockValues = [];
        var descriptionValues = [];
        var durationValues = [];
        var nameOfLectureValues = [];
        var blockNumValues = [];
        var blockTrueNumValues = [];
        var blockId = 0;
        $('.block').each(function () {
            blockId++;
            var value = $(this).find('input').val();
            nameOfBlockValues.push(value);
            var value1 = $(this).find('textarea').val();
            descriptionValues.push(value1);
            var value2 = $(this).find('.number').val();
            durationValues.push(value2);
            var value5 = $(this).find('.block-num:eq(0)').text();
            console.log(value5);
            blockTrueNumValues.push(value5);
            $("#block-" + blockId + " .lecture").each(function () {
                console.log(this);
                var value3 = $(this).find('.nameOfLectur').text();
                nameOfLectureValues.push(value3);
                var value4 = $(this).find('.block-num').text();
                blockNumValues.push(value4);
            });
        });
        var data = {
            nameOfBlock: nameOfBlockValues,
            description: descriptionValues,
            duration: durationValues,
            nameOfLecture: nameOfLectureValues,
            blockNum: blockNumValues,
            blockTrueNum: blockTrueNumValues
        };
        console.log(JSON.stringify(data));
        if (nameOfBlockValues.includes(null) || nameOfBlockValues.includes("") || descriptionValues.includes(null) || descriptionValues.includes("") || durationValues.includes(null) || durationValues.includes("") || nameOfLectureValues.includes(null) || nameOfLectureValues.includes("") || blockNumValues.includes(null) || blockNumValues.includes("") || blockTrueNumValues.includes(null) || blockTrueNumValues.includes("")) {
            alert("Введите все данные");
        } else {
            $.ajax({
                url: '/blockAddSample',
                type: 'POST',
                data: JSON.stringify(data),
                contentType: "application/json;charset=UTF-8",
                success: function (data) {
                    console.log(data);
                    window.location.href = "/CreateNewCourse/details";
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error(textStatus, errorThrown);
                    alert("Данные невалидны!");
                }
            });
        }
    });
</script>
</body>
</html>