<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>SoftLineEC - учет курсов</title>
  <link th:href="@{/css/main.css}" rel="stylesheet" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<div th:insert="blocks/header.html"/>
<body>
<form th:each="el: ${Course}" th:object="${Course}" method="post" class="center">
    <div class="boxes">
      <h1 class="title">Изменение курса</h1>
    </div>
<!--    <div style="color: red" th:if="${#fields.hasErrors('nameOfCourse')}" th:errors="*{nameOfCourse}"></div>  th:field="*{nameOfCourse}"-->
    <div class="group" >
      <input type="text" th:value="${el.nameOfCourse}"  name="nameOfCourse" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Название курса</label>
    </div>
<!--    <div class="form group" style="color: red" th:if="${#fields.hasErrors('dateOfCreation')}" th:errors="*{el.dateOfCreation}"></div>-->
    <div class="group">
      <input type="date" th:value="${el.dateOfCreation}"  name="dateOfCreation" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Дата создания</label>
    </div>
<!--    <div class="form group" style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{el.description}"></div>-->
    <div class="group">
      <textarea placeholder="Описание" th:value="${el.description}" th:text="${el.description}" name="description" required></textarea>
    </div>
<!--    <div class="form group" style="color: red" th:if="${#fields.hasErrors('resources')}" th:errors="*{el.resources}"></div>-->
    <div class="group">
      <textarea placeholder="Ресурсы" th:value="${el.resources}" th:text="${el.resources}" name="resources" required></textarea>
    </div>
<!--    <div class="form group" style="color: red" th:if="${#fields.hasErrors('goal')}" th:errors="*{el.goal}"></div>-->
    <div class="group">
      <textarea placeholder="Цель" th:value="${el.goal}" th:text="${el.goal}" name="goal" required></textarea>
    </div>
<!--    <div class="form group" style="color: red" th:if="${#fields.hasErrors('tasks')}" th:errors="*{el.tasks}"></div>-->
    <div class="group">
      <textarea placeholder="Задачи" th:value="${el.tasks}" th:text="${el.tasks}" name="tasks" required></textarea>
    </div>
<!--    <div class="form group" style="color: red" th:if="${#fields.hasErrors('categoriesOfStudents')}" th:errors="*{el.categoriesOfStudents}"></div>-->
    <div class="group">
      <input type="text" th:value="${el.categoriesOfStudents}"  name="categoriesOfStudents" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Категории обучающихся</label>
    </div>
    <div class="group">
      <select class="selec" name="nameOfCourseType" required>
        <div th:each="addr : ${CourseTypes}">
          <option th:text="${addr.getNameOfCourseType()}"></option>
        </div>
      </select>
    </div>
    <div class="group">
      <select class="selec"  name="typeOfEducation" required>
        <div th:each="addr : ${FormOfEducations}">
          <option th:text="${addr.getTypeOfEducation()}"></option>
        </div>
      </select>
    </div>
    <button type="submit" class="custom-btn btn-16">Изменить курс</button>
</form>
</body>
</html>