<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" style="background-color: #FFFFFF">
<head>
    <title>SoftLineEC - изменение содержания лекции</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="shortcut icon" href="/images/slLogo.svg">
</head>
<style>
    .ql-toolbar {
        display: flex;
        flex-wrap: nowrap;
    }
    .ql-container {
        min-height: 40px;
    }
</style>
<body style="background-color: #FFFFFF">
<form th:action="${'/CreateNewCourse/details/Lecture/Edit/Content'}" method="post" th:each="el: ${Lecture}"
      th:object="${Lecture}">
    <div style="z-index: 3" th:insert="blocks/header.html"/>
    <div style="z-index: 2" th:insert="blocks/nav.html"/>
    <div class="lecture divcousre">
        <div class="boxes">
            <h1 class="title">Изменение содержания лекции</h1>
        </div>
        <div class="row mb-3">
            <p>Руководствуйтесь тем, что тест должен находиться только в последней лекции всего курса!</br>
            Также если лекция текстовая, она не должна содержать тест, и наоборот.</p>
        </div>
        <div class="row" id="button-row" style="margin: -40px 30px 30px 30px; padding-top: 30px;">
            <div class="col-6">
                <button type="submit" id="textLectureButton" class="custom-btn btn-16" style="width: 100%">Содержание лекции</button>
            </div>
            <div class="col-6">
                <button type="submit" id="testButton" class="custom-btn btn-16" style="width: 100%">Тест</button>
            </div>
        </div>
        <div id="textLectureForm">
            <div id="editor" style="text-align: start"></div>
            <div id="images-container"
                 style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center"></div>
            <button type="submit" id="add-photo-button" class="custom-btn btn-16">Добавить фото</button>
            <div id="container"></div>
            <button type="submit" id="save-lecture" class="custom-btn btn-16">Изменить лекцию</button>
        </div>
        <div id="testLectureForm" style="display: none">
            <div class="group" >
                <input type="text"  name="nameOfTest" class="nameOfTest" id="nameOfTest" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Наименование теста</label>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn" id="load-question">Добавить вопрос</button>
                </div>
                <div style="display: flex; align-items: end; justify-content: end;" class="col">
                    <p class="questionsView">Вопросов: 0</p>
                </div>
            </div>
            <div id="testContainer"/>
        </div>
        <button type="submit" class="btn" id="save-test" style="display: none">Сохранить</button>
    </div>
    <div id="existTestLectureForm" style="display: none">
        <p>В данной лекции уже есть тест.</p>
        <div id="existTestContainer"/>
    </div>
    <button type="submit" id="deleteTestButton" class="custom-btn btn-16" style="width: 100%; margin-bottom: 20px; background-color:#eaabb5">Удалить тест</button>
    <p style="margin-bottom: 30px">После удаления теста нельзя будет получить доступ к нему.</p>
</form>
<script type="text/javascript" th:src="@{/js/textAreaResize.js}" src="/js/textAreaResize.js"></script>
<script src="https://unpkg.com/imask" type="text/javascript"></script>
<script type="text/javascript" th:src="@{/js/jquery.maskedinput.js}" src="/js/jquery.maskedinput.js"></script>
<script src="/js/CourseDetailsLectureContentEdit.js"></script>
</body>
</html>