<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>SoftLineEC - учет форм обучения</title>
  <link th:href="@{/css/main.css}" rel="stylesheet" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="blocks/header.html"/>
<form th:action="${'/FormOfEducationAdd'}" method="post" class="center">
  <div class="centerin">
    <div class="boxes">
    <h1 class="title">Добавление форм обучения</h1>
      <div/>
    <div class="group">
      <input type="text" name="typeOfEducation" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Форма обучения</label>
    </div>
    <button type="submit" class="custom-btn btn-16">Добавить форму обучения</button>
  </div>
</form>
</body>
</html>