<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>SoftLineEC - учет лекций</title>
  <link th:href="@{/css/main.css}" rel="stylesheet" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<div th:insert="blocks/header.html"/>
<body>
<form th:action="${'/LectureAdd'}" th:object="${Lecture}" method="post" class="center">
  <span class="centerin">
    <div class="boxes">
      <h1 class="title">Добавление лекции</h1>
    </div>
    <div class="form group" style="color: red" th:if="${#fields.hasErrors('nameOfLecture')}" th:errors="*{nameOfLecture}"></div>
    <div class="group" >
      <input type="text" name="nameOfLecture" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Название лекции</label>
    </div>
    <div class="form group" style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
    <div class="group">
      <input type="text" value="" name="description" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Описание</label>
    </div>
    <div class="form group" style="color: red" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>
    <div class="group">
      <input type="text" value="" name="content" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Содержание</label>
    </div>
    <div class="form group" style="color: red" th:if="${#fields.hasErrors('additionalLiterature')}" th:errors="*{additionalLiterature}"></div>
    <div class="group">
      <input type="text" value="" name="additionalLiterature" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Доп литература</label>
    </div>
    <div class="group">
      <select  name="nameOfBlock" required>
        <div th:each="element : ${nameOfBlock}">
          <option th:text="${element.getNameOfBlock()}"></option>
        </div>
      </select>
    </div>
    <form th:action="${'/LectureAdd'}">
      <button type="submit" class="custom-btn btn-16">Добавить лекцию</button>
    </form>
  </span>
</form>
</body>
</html>