<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" style=" background-color: #fff;">
<head>
  <title>SoftLineEC - Курс</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link th:href="@{/css/main.css}" rel="stylesheet"/>
  <link rel="shortcut icon" href="/images/slLogo.svg">
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body style="background-color: #fff">
<div th:insert="blocks/header.html"/>
<form th:each="el: ${Course}" th:object="${Course}" style="margin-top: 100px">
  <div class="row phoneRowColumn" style="min-height: 100vh">
    <div class="col-4 fixed-div phoneCol">
      <div  class="row">
        <h1 th:text="${el.getNameOfCourse()}" class="course-card course-name">Курс</h1>
        <div class="course-description" id="description">
          <p class="course-text" th:text="${el.getDescription()}"></p>
        </div>
        <div class="text-center">
         <button type="button" id="description-button" class="custom-btn btn-16" style="width: 90%;" onclick="toggleDescription()">Показать полное описание</button>      </div>
        </div>
      <div class="row" style="margin-top: 20px">
        <ul>
          <li class="mt-3 name-blocks" th:each="block: ${Block}" onclick="handleBlockClick();" th:id="${block.getIdBlock()}">
            <a type="button" th:text="${block.getNameOfBlock()}" class="block-link"></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-4 phoneCol"></div>
    <div class="col-8 phoneCol">
      <div class="row alert" style="display: none">
        <div class="col-11">
          <h1 class="alert alert-success course-complete" role="alert"></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-11 block-card" style="display: none" th:each="block: ${Block}" th:id="${block.getIdBlock()}">
          <div class="row">
            <div class="col-11 m-0 p-0">
              <h1 class="course-card mt-3 mb-2" style="color: #8f8f8f" th:text="${block.getNameOfBlock()}"></h1>
            </div>
            <div class="col-1 d-flex align-items-center">
              <p class="course-text" th:text="${block.getDuration()} + ' ч.'"></p>
            </div>
          </div>
          <p class="course-text" th:text="${block.getDescription()}"></p>
          <hr style="border: none; height: 1px; background-color: #BDBDBDFF; margin: 20px 0px 0px;">
            <div class="mt-3 mb-3" th:each="lectures: ${block.getTenants()}">
              <div class="row check-and-lectureName">
                <div class="col-1" style="text-align: center">
                  <input type="checkbox" class="check" th:id="${lectures.getIdLecture()}" disabled/>
                </div>
                <div class="col-11 name-blocks lectures-names" th:id="${lectures.getIdLecture()}" onclick="handleLectureClick()">
                  <p class="course-text" th:text="${lectures.getNameOfLecture()}"></p>
                </div>
              </div>
            </div>
        </div>
        <div class="col-11 phoneCol">
          <div class="row block-card" id="lecture-info" style="display: none;">
            <h1 id="name-of-lecture" class="name-of-lecture course-card mt-3"></h1>
            <div id="editor" class="phoneQuill" style="text-align: start"></div>
            <div id="images-container"></div>
            <div id="existTestContainer"></div>
            <p id="count" style="display: none"></p>
            <button class="custom-btn btn-16 back-button" style="margin: 0px 15px 15px 15px; width: auto;" type="button" onclick="handleBackClick()">Назад</button>
            <button class="custom-btn btn-16 pass-button" style="margin: 0px 15px 15px 15px; width: auto; display: none" type="button" onclick="handlePassTheTestClick()">Готово</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</form>
<script src="/js/PassingTheCourse.js"></script>
</body>
<div th:insert="blocks/footer.html"/>
</html>