<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SoftLineEC - учет вопросов</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/slLogo.svg">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<div th:insert="blocks/header.html"/>
<body>
<form th:action="${'/QuestionAdd'}" th:object="${Question}" method="post" class="center">

    <div class="boxes">
      <h1 class="title">Добавление вопроса</h1>
    </div>
    <div class="form group" style="color: red" th:if="${#fields.hasErrors('nameOfQuestion')}" th:errors="*{nameOfQuestion}"></div>
    <div class="group" >
      <input type="text" name="nameOfQuestion" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Название вопроса</label>
    </div>
    <div class="form group" style="color: red" th:if="${#fields.hasErrors('score')}" th:errors="*{score}"></div>
      <div class="group" >
      <input id="num" type="text" name="score" data-mask="phone"  required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Балл</label>
    </div>
    <div class="group">
      <select class="selec"  name="nameOfTest" required>
        <div th:each="element : ${nameOfTest}">
          <option th:text="${element.getNameOfTest()}"></option>
        </div>
      </select>
    </div>
    <form th:action="${'/QuestionAdd'}">
      <button type="submit" class="custom-btn btn-16">Добавить вопрос</button>
    </form>

  <script src="https://unpkg.com/imask"></script> <!-- Подключаем плагин через CDN -->
  <script src="js/main.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const inputElement = document.querySelector('[data-mask="phone"]') // ищем наш единственный input
      const maskOptions = { // создаем объект параметров
        mask: '00' // задаем единственный параметр mask
      }
      IMask(inputElement, maskOptions) // запускаем плагин с переданными параметрами
    })
  </script>
</form>
</body>
</html>