<nav class="px-2 bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700" style="position: fixed; top: 0; width: 100%; z-index: 499; height: 50px"
     xmlns:sec="http://www.w3.org/1999/xhtml" >
  <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css"/>
  <link th:href="@{/images/SoftLineLogo.png}" rel="import"/>
  <div class="container flex flex-wrap justify-between items-center mx-auto" style="align-items: center">
    <a href="/main">
      <img th:src="@{/images/SoftLineLogo.png}" height="20" width="100" alt="Logo" style="margin-top: 12px; margin-left: 8px"/>
    </a>
    <div class="flex items-center md:order-2">
    </div>
  </div>
</nav>


